APP_ENV=development
TELEGRAM_BOT_TOKEN=replace_me
POSTGRESQL_URL=postgresql+asyncpg://starion:starion@localhost:5432/starionbot
REDIS_URL=redis://localhost:6379/0
WEBHOOK_SECRET=replace_me
TON_API_KEY=replace_me
TON_WALLET_MNEMONIC=replace_me
